.general-header {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20pt;
    letter-spacing: 0.03em;
}

.tooltip-header {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36pt;
    letter-spacing: -0.02em;
}

.sub-screen-header {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65pt;
    letter-spacing: -0.04em;
}

.tracked-header {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35;
    letter-spacing: 0.35em;
}